@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}
body {
  position: relative;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
#logo img {
  width: 16%;
}
h1 {
  color: hsl(0, 0%, 59%);
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 4%;
}
h1 span {
  color: hsl(209, 33%, 12%);
  font-size: 1.7rem;
  font-weight: 700;
}
.sub {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 8%;
}
.sub h3 {
  font-weight: 300;
  font-size: 0.7rem;
}
form {
  position: relative;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25%;
  width: 40%;
  height: 6%;
}
#error {
  position: absolute;
  color: hsl(354, 100%, 66%);
  top: 100%;
  font-size: 0.5rem;
  font-style: italic;
  left: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
}

form button {
  background-color: hsl(223, 87%, 63%);
  color: white;
  cursor: pointer;
  border: none;
  font-size: 0.7rem;
  border-radius: 30px;
  height: 100%;
  width: 35%;
  margin-left: 2%;
  box-shadow: 0px 2px 5px 2px hsl(223, 100%, 88%);
}
button:hover {
  background-color: hsl(223, 100%, 68%);
}
button:focus {
  outline: none !important;
}
input {
  background-color: white;
  border: 1px solid hsl(0, 0%, 59%);
  font-size: 0.8rem;
  border-radius: 30px;
  width: 65%;
  padding: 2%;
  margin-right: 2%;
}
input:focus {
  outline: none !important;
}
.inputError {
  border: 1px solid hsl(354, 100%, 66%);
}
.illustration {
  height: 40vh;
  width: 40vw;
}
.illustration img {
  width: 100%;
  height: 100%;
}
footer {
  width: 10%;
  margin: 5% 0 2% 1%;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3% 0 3%;
}
a {
  color: hsl(223, 100%, 68%);
  cursor: pointer;
  width: 1.5rem;
  height: 1.2rem;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 50%;
  text-align: center;
}
a:hover {
  background-color: hsl(223, 100%, 68%);
  color: white;
}
.copyright {
  font-size: 0.5rem;
  color: hsl(0, 0%, 59%);
}

.attribution {
  position: absolute;
  top: 0%;
  font-size: 8px;
  text-align: center;
}
.attribution a {
  font-size: 10px;
  border: none;
  color: hsl(228, 45%, 44%);
}
/*************************************************** RESPONSIVE ***********************************/

@media (max-width: 650px) {
  * {
    font-size: 16px;
  }
  #logo {
    margin-top: 15%;
    margin-bottom: 15%;
  }
  h1 {
    font-size: 1.3rem;
    margin-bottom: 10%;
  }
  h1 span {
    font-size: 1.3rem;
  }
  .sub {
    margin-bottom: 20%;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 15%;
  }

  .illustration {
    height: 30vh;
    width: 80%;
    margin-bottom: 15%;
  }
  footer {
    margin-bottom: 5%;
  }
  form button {
    margin: 5%;
    height: 100%;
    width: 70%;
    padding: 3% 0 6% 0;
  }
  #error {
    top: -5%;
    left: 20%;
  }
}
